<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find simulation)/models/m_robot/m_robot_config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/m_robot" respawn="false"
        output="screen" args="left_wheel_position_controller 
                              right_wheel_position_controller 
                              joint_state_controller" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find simulation)/models/m_robot/m_robot.xacro'" />

    <remap from="/joint_states" to="/m_robot/joint_states" />
  </node>

  <node pkg="rostopic" type="rostopic" name="set_left_joints" args="pub /m_robot/left_wheel_position_controller/command std_msgs/Float64 'data: 0' " output="screen"/>
  <node pkg="rostopic" type="rostopic" name="set_right_joints" args="pub /m_robot/right_wheel_position_controller/command std_msgs/Float64 'data: 0' " output="screen"/>


</launch>
